<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas de JavaScript</title>
    <script defer src="../js/problema7.js"></script>
    <<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

    <input id="activar" name="activar" type="checkbox">
    <label class="inputlabel" for="activar">Clic para ver contenido</label>
    <div class="desplegable">
        <ul>
            <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()">
            </a>
            <a id="cerrar" class="abrir-cerrar" href="javascript:void(0)" onclick="ocultar()">
            </a>
            <a href="./problema1.html">
                <li>Problema 1</li>
            </a>
            <a href="./problema2.html">
                <li>Problema 2</li>
            </a>
            <a href="./problema3.html">
                <li>Problema 3</li>
            </a>
            <a href="./problema4.html">
                <li>Problema 4</li>
            </a>
            <a href="./problema5.html">
                <li>Problema 5</li>
            </a>
            <a href="./problema6.html">
                <li>Problema 6</li>
            </a>
            <a href="./problema7.html">
                <li>Problema 7</li>
            </a>
        </ul>
    </div>

    <div class="container-main">
        
        <h2>
            Problemas Selectivos compuestos <br>
            Problema 7
        </h2>

        <div class="content-form">

            <form action="" class="formulario">

                <div class="box">
                    <p id="numero" class="text-form">Digite el primer numero: </p>
                </div>

                <div class="box-input">
                    <input type="text" onkeypress="return validar(event)" id="registrar" class="input-evy">
                </div>

                <div class="box">
                    <input type="button" class="data" onclick="calcular()"  value="Calcular">
                </div>

                <div class="box-input">
                    <input type="text" id="resultado" readonly class="input-evy">
                </div>

            </form>

        </div>

    </div>
    
</body>
</html>